<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="icon" href="/static/css/images/amongus.png">
    <title>The Library</title>
  </head>
  <body>
    <div class="'box-area">
      <header>
        <div class="wrapper">
          <div class="logo">
            <a href={{url_for('aboutme')}}>Yo Mama</a>
          </div>
          
          <nav>
            <a href={{url_for('library')}}>Library</a>
            <a href={{url_for('insertbook')}}>Insert Book</a>
            <a href={{url_for('borrowerspage')}}>Borrowers</a>
            <a href={{url_for('lendedbooks')}}>Lent Books</a>
            <a href={{url_for('weirdo')}}>Return Books</a>
          </nav>
        </div>
      </header>
    </div>
   
   <div class="banner-area">
    <h1>Daniel's Library of Books</h1>
   </div>
   
   <div class="content-area">
    <div class="wrapper">
        <div class="listborrow">
            <label style="font-size: 30px;">List of Borrowers</label>
            <table> 
              <tr>
                <th>----First Name----</th><th>----Last Name----</th><th>----Phone Number----</th>
              </tr>
              {% for borrowers in borrowers %}
              <tr>
                <td>{{ borrowers['fname']}}</td>
                <td>{{ borrowers['lname']}}</td>
                <td>+64{{ borrowers['phone']}}</td>
              </tr> 
              {% endfor %}
            </table>
          </div>
    </div>
   </div>
   <br>
  </body>
</html>
