<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="icon" href="/static/css/images/amongus.png">
    <title>The Library</title>
    <style>
      .content-area{
        top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="'box-area">
      <header>
        <div class="wrapper">
          <div class="logo">
            <a href={{url_for('aboutme')}}>Yo Mama</a>
          </div>
          
          <nav>
            <a href={{url_for('library')}}>Library</a>
            <a href={{url_for('insertbook')}}>Insert Book</a>
            <a href={{url_for('borrowerspage')}}>Borrowers</a>
            <a href={{url_for('lendedbooks')}}>Lent Books</a>
            <a href={{url_for('weirdo')}}>Return Books</a>
          </nav>
        </div>
      </header>
    </div>
   <div class="content-area">
    <div class="wrapper">
      
      <br><br><br>
      <div class="form"> 
        <div class="form3">
          {% for row in title %}
           <label>Insert Information To Borrow {{ row[1]}}</label>
          {% endfor %}
            <form action="/successful/ {{ title['idbooks']}}" method="POST">
            <div class="container">
              
                <br>
                <label for="fname">First Name</label>
                <br>
                <input type="text" placeholder="Enter First Name" name="fname" required>
                <br>
                <br>
                <label for="lname">Last Name</label>
                <br>
                <input type="text" placeholder="Enter Last Name" name="lname" required>
                <br><br>
                <label for="phone">Phone Number</label>
                <br>
                <input type="text" placeholder="Enter Phone Number" name="phonenum" required>
                <br><br>
                <label for="address1">Address</label>
                <br>
                <input type="text" placeholder="Enter Location of Residence" name="address1" required>
                <br><br>
                <label for="city">City</label>
                <br>
                <input type="text" placeholder="Enter City of Residence" name="city" required>
                <br><br>
                <label for="email">Email</label>
                <br>
                <input type="email" placeholder="Enter Email" name="email" required>
                <br>
                <br>
                {% for row in title %}
                  <input type="hidden" name="idbooks" value="{{ row[0]}}">
                {% endfor %}
                
                <br>
                <button type="submit">Borrow Book</button>
            </div>
            </form>
            <button action='cancel' class='cancelbutton'type="submit">Cancel</button>
        </div>
      </div>
  </body>
</html>
