<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="icon" href="/static/css/images/amongus.png">
    <title>The Library</title>
  </head>
  <body>
    <div class="'box-area">
      <header>
        <div class="wrapper">
          <div class="logo">
            <a href={{url_for('aboutme')}}>Yo Mama</a>
          </div>
          
          <nav>
            <a href={{url_for('weirdo')}}>These</a>
            <a href={{url_for('weirdo')}}>Links</a>
            <a href={{url_for('weirdo')}}>Dont</a>
            <a href={{url_for('weirdo')}}>Work</a>
            <a href={{url_for('weirdo')}}>:)</a>
          </nav>
        </div>
      </header>
    </div>
   
   <div class="banner-area">
    <h1>Daniel's Library of Books</h1>
   </div>
   
   <div class="content-area">
    <div class="wrapper">
        <table class="librarycontents" style="text-align: center;">
            <tr>
                <th>--Title--</th><th>--Author--</th><th>--Lend--</th>
            </tr>
        {% for title in info %}
            <tr>
                <td>{{ title['title']}}</td>
                <td>{{ title['author']}}</td>
                <td>
                <a href="/borrowbook">
                    <img src="/static/css/images/thumb.png" style="width: 20px; height: 20px;">
                </a>
                </td>
            </tr>
        {% endfor %}
        </table>
        <br><br><br>
        <h3>INSERT NEW BOOK</h3>
        <br>
        <form action="addbook" method="post">
            <label for="title">Author</label>
            <br>
            <input type="text" name="author1"
                   placeholder="Insert Author"
                   value="{{ request.form['author1'] }}"></input>
            <br>
    
            <label for="content">Title</Title></label>
            <br>
            <input type="text" name="title1"
                      placeholder="Insert Title"
                      value="{{ request.form['title1'] }}"></input>
            <br>
            <button type="submit">Submit</button>
            <br>
            <br>
          </form>
    </div>
   </div>
   <br>
   <br>
   <br>
   <br>
   <br>
    <div class="banner">
      <h1>Welcome to my Online Library</h1>
      <h3>Here you will find books *obviously*</h3>
    </div>
  </body>
</html>
