<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="icon" href="/static/css/images/amongus.png">
    <title>The Library</title>
    <style>
      .content-area{
        top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="'box-area">
      <header>
        <div class="wrapper">
          <div class="logo">
            <a href={{url_for('aboutme')}}>About Me</a>
          </div>
          
          <nav>
            <a href={{url_for('library')}}>Library</a>
            <a href={{url_for('insertbook')}}>Insert Book</a>
            <a href={{url_for('borrowerspage')}}>Borrowers</a>
            <a href={{url_for('lendedbooks')}}>Lent Books</a>
          </nav>
        </div>
      </header>
    </div>
    <div class="content-area">
      <div class="wrapper">
        <h1>Operation Successful</h1>
        {% for book in book %}
            <h2>{{ book['title']}}</h2>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
