<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>The Library</title>
  </head>
  <body>
    <div class="'box-area">
      <header>
        <div class="wrapper">
          <div class="logo">
            <a href={{url_for('aboutme')}}>Yo Mama</a>
          </div>
          
          <nav>
            <a href={{url_for('weirdo')}}>These</a>
            <a href={{url_for('weirdo')}}>Links</a>
            <a href={{url_for('weirdo')}}>Dont</a>
            <a href={{url_for('weirdo')}}>Work</a>
            <a href={{url_for('weirdo')}}>:)</a>
          </nav>
        </div>
      </header>
    </div>
   
   <div class="banner-area">
    <h1>Daniel's Library of Books</h1>
   </div>
   
   <div class="content-area">
    <div class="wrapper">
        <h2>Your searched Book:</h2>
        <div>
            {% for book in info %}
            <h2>Title:</h2>
            <h3>{{ book[1] }}</h3>
            <br>
            <h2>Author:</h2>
            <h3>{{ book[2] }}</h3>
            {% endfor %}
            
            <br>
            <br>
            <form action="borrowbook" class="borrowbook">
                <button >Borrow Book</button>
            </form>
            
        </div>
    </div>
   </div>
   <br>
   <br>
   <br>
   <br>
   <br>
    <div class="banner">
      <h1>Welcome to my Online Library</h1>
      <h3>Here you will find books *obviously*</h3>
    </div>
  </body>
</html>
